{% extends "layout.html" %}
{% block body %}
<head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='Mystyle.css') }}">
<style> 
input[type=text] {
    width: 100%;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=button], input[type=submit], input[type=reset] {
    width: 80%;
    background-color: black;
    border: none;
    color: white;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
    line-height: 20px;

}
</style>
</head>

</div>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"> </script>
<script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>

<script>
$(document).ready(function() {
    $("#clear").bind("click", function(){
         $("#section").empty();        
        });
              
       $(window).resize(function() {
         var divheight = $("#section").height();
         var divwidth = $("#section").width();

         var update = {
                  width:divwidth,  // or any new width
                  height:divheight // " "
                };

        Plotly.relayout('section', update);

            }).resize();
         });

</script>

<div id="nav" class="form-style-2">
<font size="3"><b>Filename<b></font>
<form action="." method="POST">
        <input type="text" name="text" placeholder="File to be loaded"><br>
        <input type="submit" name="my-form" value="Load Spectrum">

    </form>
    <button id ="clear" class="button button1">Clear</button>

</div>



<div class="hello" id="section" >

    <script type="text/javascript">
        
        var graphs = {{graphJSON | safe}};
        var ids = {{ids | safe}};
        for(var i in graphs) {
           
            Plotly.plot("section", // the id of the div, created above
                        graphs[i].data,
                        graphs[i].layout || {});
        }


     
    </script>
</div>

<div id="includedContent"></div>
<div id="footer">
TIMELABS
</div>


{% endblock %}  